$backgroundColor: #f1f1f1;

.container {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 180px;
}

.children {
  background-color: $backgroundColor;
  flex: 1 0 auto;
  // for child element
  display: flex;
  flex-direction: column;
}

.navigationBar {
  float: right;
}
